/* Remove underline for all anchors */
a {
    text-decoration: none;
}

/* Whole container */
#container {
    width: 188px;
    height: 600px;
    margin: auto;
    border: 0px solid #ce8e68;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background: #ce8e68;
}

/* Game title */
#game-title-box {
    width: 80px;
    height: 600px;
    background-color: #67d8aa;
    color: #c0dfd9;
    text-align: center;
    border-radius: 7px;
}

#game-title {
    float: right;
    position: relative;
    top: -85px;
    left: 2px;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    letter-spacing: 8px;
    font-size: 87px;
    font-family: "Courier New", Courier, monospace;
    line-height: 80px;
}

/* Game table */
table {
    table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
}

.game-board td:nth-child(1) {
     width: 100%;
}

/*.game-board td:nth-child(2) {
     width: 20%;
}*/

/* Guess boxes: white, green, red */
.out-white, .out-green, .out-red {
    display: inline-block;
    width: 23px;
    height: 23px;
    border: none;
    margin-right: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.out-white {
    background-color: #ecf0f1;
}

.out-green {
    background-color: #27ae60;
}

.out-red {
    background-color: #e74c3c;
}
/* How to play div */
.how-to-play-descp {
    display: none;

}

/* Input elements */
input[id^='guess'] {
    font-size: 24px;
    width: 67px;
    height: 23px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
}

input:focus {
    outline: none;
}
