/* Remove underline for all anchors */
a {
    text-decoration: none;
    color: #2c3e50;
}

/* Game title */
#game-title-box {
    width: 208px;
    height: 33px;
    margin: auto;
    background-color: #67d8aa;
    color: #c0dfd9;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 29px;
    font-family: "Courier New", Courier, monospace;
}

.game-help, .controller {
    width: 208px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}

.how-to-play {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #336E7B;
}

/* Game controllers */
.controller {
    width: 140px;
    padding: 0;
}

.button {
    display: inline-block;
    font-size: 15px;
    width: 55px;
    background: #95a5a6;
    border-radius: 7px;
    padding: 5px;
    user-select: none;
    box-shadow: 0 5px 5px -4px rgba(0,0,0,0.8);
}

.controller .button:hover {
    cursor: pointer;
}

.controller .button:active {
    position: relative;
    top: 3px;
}

/* Whole container */
#container {
    clear: both;
    width: 188px;
    height: 582px;
    margin: auto;
    border: 0px solid #ce8e68;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    background: #ce8e68;
}

/* Game board */
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
}

.game-board td:nth-child(1) {
     width: 100%;
}

/* Guess boxes: white, green, red */
.out-white, .out-green, .out-red {
    display: inline-block;
    width: 23px;
    height: 23px;
    border: none;
    margin-right: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.out-white {
    background-color: #BFBFBF;
}

.out-green {
    background-color: #27ae60;
}

.out-red {
    background-color: #e74c3c;
}

/* How-to-play description */
.how-to-play-descp, .game-finish-dialog {
    display: none;
    background-color: #446CB3;
    padding: 25px;
    border-radius: 10px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 40%;
}

.how-to-code-sequence, .how-to-your-guess, .game-number {
    border: 1px solid;
    border-radius: 7px;
}

/* Input elements */
input[id^='guess'] {
    font-size: 24px;
    width: 67px;
    height: 23px;
    margin-right: 13px;
    border: 1px solid #BFBFBF;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    background-color: #BFBFBF;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

input:focus {
    outline: none;
}

input:enabled {
    background-color: #FFF;
}
