body {
    background: #cb1605;
    margin: auto;
}

/* Merry Christmas heading */
h2 {
    position: relative;
    top: -4px;
    text-align: center;
    font-size: 6em;
    font-family: "Mountains of Christmas";
    font-weight: bolder;
    letter-spacing: 0.3em;
    color: #4d8e4c; /* Since -webkit-text-fill-color is a non-standard feature, so non-webkit browsers will use this color */
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(90deg, #1f3c42 0%, #31625c 20%, #478462 40%, #488935 60%, #7ea633 80%, #9ee948 100%); /* Chrome, Safari, newer versions of Opera */
    background: -o-linear-gradient(90deg, #1f3c42 0%, #31625c 20%, #478462 40%, #488935 60%, #7ea633 80%, #9ee948 100%); /* older versions of Opera */
    -webkit-background-clip: text;
}

/* Bulb hanging wire: ul */
#bulbs-hanging-wire {
    position: absolute;
    top: 20px;
    text-align: center;
    white-space: nowrap;
    padding: 0;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 1px;
}

/* Each bulb: li */
#bulbs-hanging-wire li {
    position: relative;
    top: 1px;
    display: inline-block;
    margin: 0px 10px;
    padding: 0;
    list-style: none;
    width: 10px;
    height: 20px;
    border-radius: 20%;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
}

/* Screw/connector to hold the bulbs on the wire */
#bulbs-hanging-wire li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 6px;
    border-radius: 2px;
    top: -4px;
    left: 1px;
    background: #444;
}

/* Animation for even position bulbs */
#bulbs-hanging-wire li:nth-child(even) {
    animation-name: even-bulbs-animation;
}

/* Animation for odd position bulbs */
#bulbs-hanging-wire li:nth-child(odd) {
    animation-name: odd-bulbs-animation;
}

/* Animation for (4n+2) position bulbs */
#bulbs-hanging-wire li:nth-child(4n+2) {
    animation-name: even-bulbs-animation-2;
}

/* Animation code for even bulbs */
@keyframes even-bulbs-animation {
    0%, 100% {
        background: rgba(247, 0, 148, 1);
        box-shadow: 0px 2px 20px 4px rgba(247, 0, 148, 1);
    }
    50% {
        background: rgba(247,0,148,0.5);
        box-shadow: 0px 2px 20px 4px rgba(247, 0, 148, 0.3);
    }
}
/* Animation code for odd bulbs */
@keyframes odd-bulbs-animation {
    50% {
        background: rgba(0, 255, 255, 1);
        box-shadow: 0px 2px 20px 4px rgba(0, 255, 255,1);
    }
    0%,100% {
        background: rgba(0, 255, 255, 0.5);
        box-shadow: 0px 2px 20px 4px rgba(0, 255, 255, 0.3);
    }
}

/* Animation code for (4n+2) bulbs */
@keyframes even-bulbs-animation-2 {
    0%, 100% {
        background: rgba(255, 230, 65, 1);
        box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
    }
    50% {
        background: rgba(255, 230, 65, 0.5);
        box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
    }
}

/* Music buttons */
#music-pics-container {
    position: relative;
    top: -50px;
    text-align: center;
    margin: auto;
}

button {
    border: 3px solid #7ea633;
    border-radius: 8px;
    background-color: #7ea633;
    padding: 8px;
    margin-right: 10px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 5px 5px 10px #000;
    cursor: pointer;
}

button:active {
    position: relative;
    top: 5px;
}

button:focus {
    outline: none;
}

.button-default {
    border: 3px solid #007600;
    background-color: #007600;
}

/* Main container for memes and trees */
.main-container {
    position: relative;
    top: -40px;
    width: 100%;
}

.main-container div {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

/* Tree */
.tree-left {
    float: left;
}

.tree-right {
    float: right;
}

.tree .christmas-tree {
    width: 300px;
    height: 500px;
    position: relative;
    top: -25px;
}

/* Memes automatic slider */
.meme-slider {
    border: 0px solid #000;
    background-color: #cb1605;
    width: 540px;
    height: 350px;
    margin: auto;
}

.slider-image {
    width: 540px;
    height: 350px;
    border-radius: 17px;
    position: relative;
    top: -25px;
}

.meme-slider div {
    display: inline-block;
    display: none;
}

.meme-slider .meme-initial {
    display: inline-block;
}

/* Snow flakes */
#snow-flakes-container {
    position: absolute;
    top: 0px;
}

.snow-flake {
    position: fixed;
    font-family: Cambria, Georgia, serif;
    font-size: 15px;
    color: #FFF;
    user-select: none;
    text-shadow: 0px 0px 15px #FFF;
    z-index: 500;
}
